.pizza-container {
    border: 1px solid #ddd;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
    background-color: rgba(255, 255, 255, 0.048);
    border-radius: 5px;
  }
  
  .pizza-container .ingredients-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
    overflow: hidden; /* Ensures no wrap and that content does not spill over */
    white-space: nowrap; /* Keeps the text on a single line */
}

.pizza-container .ingredients-list li {
    display: inline; /* Display list items inline */
    margin-right: 5px; /* Space between ingredients */
}

.pizza-container .ingredients-list li:not(:last-child)::after {
    content: ','; /* Add commas after each item except the last one */
    margin-right: 5px; /* Space after the comma */
}
